<h2>User Payment_invoice</h2>

<table>
  <tr>
    <th><strong>Student Name:</strong></th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th><strong>Date of Birth:</strong></th>
    <td><%= @user.birth_date %></td>
  </tr>
  <tr>
    <th><strong>Academic Year:</strong></th>
    <td><%= @user.academic_year %></td>
  </tr>
  <tr>
    <th><strong>Paid Amount:</strong></th>
    <td><%= @user.amount %></td>
  </tr>
  <tr>
    <th><strong>Payment Mode:</strong></th>
    <td><%= @user.payment_mode %></td>
  </tr>
  <tr>
    <th><strong>Payment Status:</strong></th>
    <td><%= @user.status %></td>
  </tr>
</table>
