<%= form_with(model: [:admin, @student], local: true) do |form| %>

  <% if @student.errors.any? %>
    <div id="error_explanation">
      <div class="head">
        <h2>
          <%= pluralize(@student.errors.count, "error") %> Prohibited
          this location from being saved:
        </h2>
      </div>
      <div class="error-list">
        <ul>
          <% @student.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="input-form">
    <div class="input-field">
      <%= form.label :name %><br>
      <div class="input-section">
        <%= form.text_field :name, placeholder:"  Enter Student Name" %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :email %><br>
      <div class="input-section">
        <%= form.email_field :email, placeholder:"  Enter Email" %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :birth_date %><br>
      <div class="input-section">
        <%= form.date_field :birth_date %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :age %><br>
      <div class="input-section">
        <%= form.number_field :age %>
        <%= javascript_pack_tag 'student' %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :classe_id %><br>
      <div class="input-section">
        <%= form.select :classe_id, Classe.all.collect { |c| [c.classe, c.id] }, include_blank: true %>
        <%= javascript_pack_tag 'student' %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :academic_year %><br>
      <div class="input-section">
        <%= form.number_field :academic_year, placeholder:"  Enter Academic Year" %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :father_name %><br>
      <div class="input-section">
        <%= form.text_field :father_name, placeholder:"  Enter Father Name" %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :mother_name %><br>
      <div class="input-section">
        <%= form.text_field :mother_name, placeholder:"  Enter Mother Name" %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :address %><br>
      <div class="input-section">
        <%= form.text_area :address, placeholder:"  Enter Full Address" %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :contact %><br>
      <div class="input-section">
        <%= form.number_field :contact, placeholder:"  Enter Contact Number" %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :image %><br>
      <div class="input-section">
        <%= form.file_field :image %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :file %><br>
      <div class="input-section">
        <%= form.file_field :file %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :payment_mode %><br>
      <div class="input-section">
        <%= form.select( :payment_mode, Student::MODE_LIST ) %>
      </div>
    </div>



    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
