<h1>Listing student</h1>
<% if current_user.admin? %>
  <div class="add-button">
    <%= link_to "Add New Student", new_admin_student_path %>
  </div>
<% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Age</th>
    <th>Academic year</th>
    <th>Father Name</th>
    <th>Mother Name</th>
    <th>Contact No.</th>
    <th>Class Applied To</th>
    <th>Payment Status</th>

  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.birth_date %></td>
      <td><%= student.age %></td>
      <td><%= student.academic_year %></td>
      <td><%= student.father_name %></td>
      <td><%= student.mother_name %></td>
      <td><%= student.contact %></td>
      <td><%= Classe.find(student.classe_id).classe %></td>
      <td><%= student.status %></td>
      <td class="feature"><%= link_to 'Show', admin_student_path(student) %></td>
      <% if current_user.admin? %>
        <td class="feature"><%= link_to 'Edit', edit_admin_student_path(student) %></td>
        <td class="feature"><%= link_to 'Destroy', admin_student_path(student),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% else %>
        <td class="feature"><%= link_to 'Proceed To Pay', edit_admin_student_path(student) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if current_user.admin %>
  <div class="nav-back">
    <%= link_to 'Back', root_path %>
  </div>
<% else %>
  <div class="nav-back">
    <%= link_to 'Back', root_path %>
  </div>
<% end %>
