<h1>Listing Sections</h1>
<div class="add-button">
  <%= link_to "Add New Section", new_admin_section_path %>
</div>
<table>
  <tr>
    <th>Section Name</th>
    <th>Class Belongs To</th>
  </tr>

  <% @sections.each do |section| %>
    <tr>
      <td><%= section.section_name %></td>
      <td><%= Classe.find(section.classe_id).classe %></td>
      <td class="feature"><%= link_to 'Show', admin_section_path(section) %></td>
      <td class="feature"><%= link_to 'Edit', edit_admin_section_path(section) %></td>
      <td class="feature"><%= link_to 'Destroy', admin_section_path(section),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<div class="nav-back">
  <%= link_to 'Back', root_path %>
</div>
