<h1>Listing Classes</h1>
<div class="add-button">
  <%= link_to "Add New Class", new_admin_class_path %>
</div>
<table>
  <tr>
    <th>Class</th>
    <th>Stage</th>
  </tr>

  <% @classs.each do |classe| %>
    <tr>
      <td><%= classe.classe %></td>
      <td><%= classe.stage %></td>
      <td class="feature"><%= link_to 'Show', admin_class_path(classe) %></td>
      <td class="feature"><%= link_to 'Edit', edit_admin_class_path(classe) %></td>
      <td class="feature"><%= link_to 'Destroy', admin_class_path(classe),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<div class="nav-back">
  <%= link_to 'Back', root_path %>
</div>
