<%= form_with(model: [:admin, @fee], local: true) do |form| %>

  <% if @fee.errors.any? %>
    <div id="error_explanation">
      <div class="head">
        <h2>
          <%= pluralize(@fee.errors.count, "error") %> Prohibited
          this location from being saved:
        </h2>
      </div>
      <div class="error-list">
        <ul>
          <% @fee.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="input-form">
    <div class="input-field">
      <%= form.label :admission_fee %><br>
      <div class="input-section">
        <%= form.text_field :admission_fee, placeholder:"  Enter Admission Fee(in Rs.)" %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :annual_fee %><br>
      <div class="input-section">
        <%= form.text_field :annual_fee, placeholder:"  Enter Annual Fee(in Rs.)" %>
      </div>
    </div>

      <div class="input-field">
        <%= form.label :caution_money %><br>
        <div class="input-section">
          <%= form.text_field :caution_money, placeholder:"  Enter Caution Money(in Rs.)" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :tution_fee %><br>
        <div class="input-section">
          <%= form.text_field :tution_fee, placeholder:"  Enter Tution Fee(in Rs.)" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :almanac_fee %><br>
        <div class="input-section">
          <%= form.text_field :almanac_fee, placeholder:"  Enter Almanac Fee(in Rs.)" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :total_fee %><br>
        <div class="input-section total">
          <%= form.text_field :total_fee %>
          <%= javascript_pack_tag 'fees' %>
        </div>
      </div>



    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
