<h1>Listing fees</h1>
<div class="add-button">
  <%= link_to "Add New Fee", new_admin_fee_path %>
</div>
<table>
  <tr>
    <th>Class</th>
    <th>Admission Fee(in Rs.)</th>
    <th>Annual Session Fee(in Rs.)</th>
    <th>Caution Money(in Rs.)</th>
    <th>Tution Fee(in Rs.)</th>
    <th>Almanac Fee(in Rs.)</th>
    <th>Total Fee(in Rs.)</th>
  </tr>

  <% @fees.each do |fee| %>
    <tr>
      <td><%= Classe.find(fee.classe_id).classe %></td>
      <td><%= fee.admission_fee %></td>
      <td><%= fee.annual_fee %></td>
      <td><%= fee.caution_money %></td>
      <td><%= fee.tution_fee %></td>
      <td><%= fee.almanac_fee %></td>
      <td><%= fee.total_fee %></td>
      <td class="feature"><%= link_to 'Show', admin_fee_path(fee) %></td>
      <td class="feature"><%= link_to 'Edit', edit_admin_fee_path(fee) %></td>
      <td class="feature"><%= link_to 'Destroy', admin_fee_path(fee),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<div class="nav-back">
  <%= link_to 'Back', root_path %>
</div>
