<h1>Listing Age Criteria</h1>
<table>
  <tr>
    <th>Date From</th>
    <th>Date To</th>
    <th>Age From</th>
    <th>Age To</th>
    <th>Date As On</th>
    <th class="new_link"><%= link_to 'New Age Criteria', new_admin_age_path %></th>
  </tr>

  <% @ages.each do |age| %>
    <tr>
      <td><%= age.date_from %></td>
      <td><%= age.date_to %></td>
      <td><%= age.age_from %></td>
      <td><%= age.age_to %></td>
      <td><%= age.date_as %></td>
      <td class="link"><%= link_to 'Show', admin_age_path(age) %></td>
      <td class="link"><%= link_to 'Edit', edit_admin_age_path(age) %></td>
      <td class="link"><%= link_to 'Destroy', admin_age_path(age),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<div class="nav-back">
  <%= link_to 'Back', admin_root_path %>
</div>
