<!DOCTYPE html>
<html>
  <head>
    <title>SchoolAdmission</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="message">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    </div>
    <div class="navbar">
      <div class="user-name">
        <% if current_user %>
          Logged in as <%= current_user.name %>
      </div>
        <% if current_user.admin? %>
        <div class="navbar-content">
          <div class="link"><%= link_to "Sections", admin_sections_path %></div>
          <div class="link"><%= link_to "Class", admin_classes_path %></div>
          <div class="link"><%= link_to "Fees Structure", admin_fees_path %></div>
          <div class="link"><%= link_to "Age Criteria", admin_ages_path %></div>
          <div class="link"><%= link_to "Student", admin_students_path %></div>
          <div class="link"><%= link_to "Payment", admin_payments_path %></div>
        </div>
        <% end %>
        <div class="dropdown">
        <button class="dropbtn">Options
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <div class="nav-item"><%= link_to "Sign Out", session_path("current"), method: "delete" %></div>
          <% if current_user.admin? %>
            <div class="nav-item"><%= link_to "Create New Admin", new_user_path %></div>
          <% else %>
            <div class="nav-item"><%= link_to "Application Form", admin_students_path %></div>
          <% end %>
          <div class="nav-item"><%= link_to "Profile", user_path(current_user.id) %></div>
        </div>
        <% else %>
          <div class="nav-field"><%= link_to "Sign Up", new_user_path %></div>
          <div class="nav-field"><%= link_to "Sign In", new_session_path %></div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
